{% extends "base.html" %} {% block container_content %}
<!-- Inner driver -->
<div class="row">
	<div class="span12">
		<h2>Why on earth another rip-off out there?</h2>
		<p>
			<b>Disclaimer:</b> This service is a copycast of awesome <a
				href="http://dummyimage.com">DummyImage</a> service, developed by <a
				href="http://www.twitter.com/kingkool68">Russell Heimlich</a>.

		</p>
		<p>
			I liked the idea and nevertheless there is already python port
			available - <a href="http://ipsumimage.appspot.com">Ipsum Image</a> I
			decided to re-implement that myself. The decision was not driven by
			lack of functionality of existing solutions, the ultimate goal was
			(and still is) to learn and play with Python snake a little bit more.
			&quot;Learning by doing&quot; way.
		</p>
	</div>
</div>
{% endblock %}
