{% extends "base.html" %}

{% block container_content %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">

        <h1>About NoImage</h1>
        <p>
        	This is copycast and ripoff of popular <a href="dummyimage.com">DummyImage</a> service, 
        	&copy;by <a href="http://www.twitter.com/kingkool68">Russell Heimlich</a>.
        </p>
        <p>
        	I liked the idea and nevertheless there is already python port available - 
        	<a href="http://ipsumimage.appspot.com">Ipsum Image</a>. 
        	I decided to re-implement that myself. The decision was not driven by lack of 
        	functionality of existing solutions, the ultimate goal was (and still is) to learn and 
        	play with Python snake a little bit more. &quot;Learning by doing&quot; way.
        </p>
        
        <p>
        <a href="https://github.com/leonardinius/noimage-py" class="btn btn-primary btn-large">Fork GitHub Project</a>
        </p>
      </div>
      
            <!-- Example row of columns -->
      <div class="row">
        <div class="span12">
          <h2>Examples</h2>
          <p>
		  </p>
          <!--p><a class="btn" href="#">View details »</a></p-->
        </div>
      </div>
      
{% endblock %}

Find a bug or have a feature request? Submit it over on Ipsum Image's GitHub Issue Tracker.