{% extends "base.html" %} {% block container_content %}
<div class="hero-unit">

	<h1>NoImageYet</h1>
	<p>
		Placeholder image generator service to fill in void spaces in web-page
		mock-ups. Created by <a href="/contact.html">Leonids Maslovs</a>,
		inspired by <a href="http://dummyimage.com">DummyImage.com</a>.
	</p>

	<p>
		<a href="https://github.com/leonardinius/noimage-py"
			class="btn btn-primary btn-large">Fork me on GitHub</a>
		<!-- AddThis Button BEGIN -->
		<script type="text/javascript">var addthis_share = {url : '{{host}}', templates: {twitter: 'Check it out - NoImageYet placeholder image generator service {%raw%}{{url}}{%endraw%} (via @noimageyet)'}};</script>
		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style">
		<a class="addthis_button_preferred_1"></a>
		<a class="addthis_button_preferred_2"></a>
		<a class="addthis_button_preferred_3"></a>
		<a class="addthis_button_preferred_4"></a>
		<a class="addthis_button_compact"></a>
		<a class="addthis_counter addthis_bubble_style"></a>
		</div>
		<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
		<script type="text/javascript" src="//s7.addthis.com/js/250/addthis_widget.js#pubid=ra-5046ea3e11962ccf"></script>
		<!-- AddThis Button END -->
	<p>
</div>

<!-- Getting Help -->
<div class="row">
	<div class="span12">
		<h2>Getting help</h2>
	</div>
	<div class="span6">
		<p>
			Found an bug or want to request a new feature? Go to NoImageYet <a
				href="https://github.com/leonardinius/noimage-py/issues">issue
				tracker</a>.
		</p>
	</div>

	<div class="span6">
		<p>
			Have an API usage question? Try to find an answer at <a
				href="https://github.com/leonardinius/noimage-py/wiki">wiki
				space</a>.
		</p>
	</div>
</div>

<div class="row">
	<div class="span12">
		<h2>Examples</h2>
	</div>
</div>

<div class="row">
	<div class="span3">
		<p>
			<img src="/100x150" />
		</p>
		<code><a href="/100x150">/100x150</a></code>
	</div>

	<div class="span3">
		<p>
			<img src="/150x150/yellow/black.gif" />
		</p>
		<code><a href="/150x150/yellow/black.gif">/150x150/yellow/black.gif</a></code>
	</div>

	<div class="span3">
		<p>
			<img src="/150x150.png?t=NoImageYet|service||:)" />
		</p>
		<code><a href="/150x150.png?t=NoImageYet|service||:)">/150x150.png?t=NoImageYet|service||:)</a></code>
	</div>

	<div class="span3">
		<p>
			<img src="/rectangle/yellow/black.png" />
		</p>
		<code><a href="/rectangle/yellow/black.png">/rectangle/yellow/black.png</a></code>
	</div>
</div>

<noscript>
<div class="row">
   <div class="span12">
		<h2>Image generator</h2>
	</div>
	<div class="span12">
		<p>
		Your browser does not support or has switched off JavaScript support.
		If you come back with JavaScript ON you will see nice Image generator form here. ;)
		</p>
	</div>
</div>
</noscript>
<div class="row" id="imagegenerator">
   <div class="span12">
		<h2>Image generator</h2>
	</div>

   <div class="span3">
   		<form class="form-horizontal">
		  <legend>Calculator</legend>
		  
		  <div class="control-group">
            <label class="control-label" for="size">size</label>
            <div class="controls">
              <input id="size" class="input-medium" type="text" placeholder="size" value="150x150">
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="bgcolor">bgcolor</label>
            <div class="controls">
              <input id="bgcolor" class="input-medium" type="text" placeholder="bgcolor" value="#AB8CC5"/>
            </div>
          </div>
		  
          <div class="control-group">
            <label class="control-label" for="txtcolor">txtcolor</label>
            <div class="controls">
             <input id="txtcolor" class="input-medium" type="text" placeholder="txtcolor" value="#FFFFFF"/>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="text">text</label>
            <div class="controls">
             <input id="text" class="input-medium" type="text" placeholder="text" value=""/>
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="format">format</label>
            <div class="controls">
             <select id="format" class="input-medium">
                <option value="" selected="selected"></option>
             	<option value="png">png</option>
             	<option value="gif">gif</option>
             	<option value="jpeg">jpeg</option>
             	<option value="bmp">bmp</option>
             </select>
            </div>
          </div>
		</form>
   </div>

	
   <div class="span9" align="center">
       <form class="form-horizontal">
         <legend>
         <a id="calc_url" href="{{host}}/150x150/AB8CC5/FFFFFF">
   			{{host}}/150x150/AB8CC5/000000
  		</a>
  		</legend>
  		<img id="calc_img" src="{{host}}/150x150/AB8CC5/FFFFFF" />
  	   </form>	
   </div>
</div>

<div class="row">
	<div class="span12">
		<h2>Service API</h2>
	</div>

	<div class="span12">
		<p>
			URL format:
			<code>{{host}}/&lt;size&gt;[/&lt;bgcolor&gt;][/&lt;txtcolor&gt;][.&lt;format&gt;][?t=&lt;text&gt;]</code>
		</p>
		<p></p>
	</div>

	<div class="span12">
		<p></p>
		<ul>
			<li><code>&lt;size&gt;</code> is <code>&lt;width&gt;x&lt;height&gt;</code>
				or one of the predefined size aliases as below
				<p></p>
				<div class="span3">
					<p></p>
					<table class="table table-hover table-condensed">
						<thead>
							<tr>
								<th colspan="2">Ad Sizes</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><code>
										<a href="/mediumrectangle">mediumrectangle</a>
									</code></td>
								<td>300x250</td>
							</tr>
							<tr>
								<td><code>
										<a href="/squarepopup">squarepopup</a>
									</code></td>
								<td>250x250</td>
							</tr>
							<tr>
								<td><code>
										<a href="/verticalrectangle">verticalrectangle</a>
									</code></td>
								<td>240x400</td>
							</tr>
							<tr>
								<td><code>
										<a href="/largerectangle">largerectangle</a>
									</code></td>
								<td>336x280</td>
							</tr>
							<tr>
								<td><code>
										<a href="/rectangle">rectangle</a>
									</code></td>
								<td>180x150</td>
							</tr>
							<tr>
								<td><code>
										<a href="/popunder">popunder</a>
									</code></td>
								<td>720x300</td>
							</tr>
							<tr>
								<td><code>
										<a href="/fullbanner">fullbanner</a>
									</code></td>
								<td>468x60</td>
							</tr>
							<tr>
								<td><code>
										<a href="/halfbanner">halfbanner</a>
									</code></td>
								<td>234x60</td>
							</tr>
							<tr>
								<td><code>
										<a href="/microbar">microbar</a>
									</code></td>
								<td>88x31</td>
							</tr>
							<tr>
								<td><code>
										<a href="/button1">button1</a>
									</code></td>
								<td>120x90</td>
							</tr>
							<tr>
								<td><code>
										<a href="/button2">button2</a>
									</code></td>
								<td>120x60</td>
							</tr>
							<tr>
								<td><code>
										<a href="/verticalbanner">verticalbanner</a>
									</code></td>
								<td>120x240</td>
							</tr>
							<tr>
								<td><code>
										<a href="/squarebutton">squarebutton</a>
									</code></td>
								<td>125x125</td>
							</tr>
							<tr>
								<td><code>
										<a href="/leaderboard">leaderboard</a>
									</code></td>
								<td>728x90</td>
							</tr>
							<tr>
								<td><code>
										<a href="/wideskyscraper">wideskyscraper</a>
									</code></td>
								<td>60x600</td>
							</tr>
							<tr>
								<td><code>
										<a href="/skyscraper">skyscraper</a>
									</code></td>
								<td>120x600</td>
							</tr>
							<tr>
								<td><code>
										<a href="/halfpage">halfpage</a>
									</code></td>
								<td>300x600</td>
							</tr>
						</tbody>
					</table>
					<p></p>
				</div>

				<div class="span3">
					<p></p>
					<table class="table table-hover table-condensed">
						<thead>
							<tr>
								<th colspan="2">Screen Resolutions</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><code>
										<a href="/cga">cga</a>
									</code></td>
								<td>320x200</td>
							</tr>
							<tr>
								<td><code>
										<a href="/qvga">qvga</a>
									</code></td>
								<td>320x240</td>
							</tr>
							<tr>
								<td><code>
										<a href="/vga">vga</a>
									</code></td>
								<td>640x480</td>
							</tr>
							<tr>
								<td><code>
										<a href="/wvga">wvga</a>
									</code></td>
								<td>800x480</td>
							</tr>
							<tr>
								<td><code>
										<a href="/svga">svga</a>
									</code></td>
								<td>800x480</td>
							</tr>
							<tr>
								<td><code>
										<a href="/wsvga">wsvga</a>
									</code></td>
								<td>1024x600</td>
							</tr>
							<tr>
								<td><code>
										<a href="/xga">xga</a>
									</code></td>
								<td>1024x768</td>
							</tr>
							<tr>
								<td><code>
										<a href="/wxga">wxga</a>
									</code></td>
								<td>1280x800</td>
							</tr>
							<tr>
								<td><code>
										<a href="/wsxga">wsxga</a>
									</code></td>
								<td>1440x900</td>
							</tr>
							<tr>
								<td><code>
										<a href="/wuxga">wuxga</a>
									</code></td>
								<td>1920x1200</td>
							</tr>
							<tr>
								<td><code>
										<a href="/wqxga">wqxga</a>
									</code></td>
								<td>2560x1600</td>
							</tr>
						</tbody>
					</table>
					<p></p>
				</div>

				<div class="span3">
					<p></p>
					<table class="table table-hover table-condensed">
						<thead>
							<tr>
								<th colspan="2">Video Resolutions</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><code>
										<a href="/ntsc">ntsc</a>
									</code></td>
								<td>720x480</td>
							</tr>
							<tr>
								<td><code>
										<a href="/pal">pal</a>
									</code></td>
								<td>768x576</td>
							</tr>
							<tr>
								<td><code>
										<a href="/hd720">hd720</a>
									</code></td>
								<td>1280x720</td>
							</tr>
							<tr>
								<td><code>
										<a href="/hd1080">hd1080</a>
									</code></td>
								<td>1920x1080</td>
							</tr>
						</tbody>
					</table>
					<p></p>
				</div>
				<p></p></li>
		</ul>
		<p></p>
	</div>
</div>

<div class="row">
	<div class="span12">
		<ul>
			<li>
				<p>
					<code>&lt;bgcolor&gt;</code>
					[optional] image background color. Supported formats are as follows:
					<ul>
					<li>Hexadecimal color specifiers, given as &quot;rgb&quot; or &quot;rrggbb&quot;. For example, <code>ff0000</code> specifies pure red.</li>
					<li>RGB functions, given as <code>rgb(red, green, blue)</code> where the colour values are integers in the range 0 to 255. For example, <code>rgb(255,0,0)</code>.</li>
					<li>Common HTML colour names, more than 140 standard colour names are supported. Colour names are case insensitive. For example, <code>red</code> and <code>Red</code> both specify pure red.</li>
					</ul>
				</p>
				<p>
					Samples:
					<code>black</code>
					,
					<code>AB8CC5</code>
					,
					<code>hsl(0,100%,50%)</code>
					.
				</p>
			</li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="span12">
		<ul>
			<li><p>
					<code>&lt;txtcolor&gt;</code>
					[optional] foreground text color. Supported formats are as follows:
					<ul>
					<li>Hexadecimal color specifiers, given as &quot;rgb&quot; or &quot;rrggbb&quot;. For example, <code>ff0000</code> specifies pure red.</li>
					<li>RGB functions, given as <code>rgb(red, green, blue)</code> where the colour values are integers in the range 0 to 255. For example, <code>rgb(255,0,0)</code>.</li>
					<li>Common HTML colour names, more than 140 standard colour names are supported. Colour names are case insensitive. For example, <code>red</code> and <code>Red</code> both specify pure red.</li>
					</ul>
				</p>
				<p>
					Samples:
					<code>black</code>
					,
					<code>AB8CC5</code>
					,
					<code>hsl(0,100%,50%)</code>
					.
				</p></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="span12">
		<ul>
			<li><code>&lt;format&gt;</code> [optional] is one of the 
				<code>gif</code>,<code>jpeg</code>,<code>png</code>,<code>bmp</code>.</li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="span12">
		<ul>
			<li><code>&lt;text&gt;</code> [optional] <a
				href="https://en.wikipedia.org/wiki/Percent-encoding">url-encoded</a>
				image text (NB difference: <code>|</code> could be used as new line
				character).
				<p>
					Samples:
					<code>?t=text</code>
					,
					<code>?t=two|line|text</code>
					,
					<code>?t=%24%24%24</code>
					.
				</p></li>
		</ul>
	</div>
</div>

{% endblock %}

{%- block style %}
  {{super()}}
  <link href="{{'/static/colorpicker/css/colorpicker.css'|safe}}" rel="stylesheet">
    <noscript>
      <style type="text/css">
        div#imagegenerator { display:none;}
      </style>
    </noscript>
{%  endblock %}

{%- block bootstrap_js_bottom %}
  {{super()}}
    <script src="{{'/static/colorpicker/js/bootstrap-colorpicker.js'|safe}}"></script>
    <script type="text/javascript">
  	(function($){
  	    function updateCalc(size, bgcolor, txtcolor, text, format){
  	    var url = '{{host}}/' 
  		  	+ encodeURIComponent(size)
  		  	+ '/'+ encodeURIComponent(bgcolor)
  		  	+ '/'+ encodeURIComponent(txtcolor);
  		  if($.trim(format) != '') url += '.' + format;
  		  if($.trim(text) != '') url += '?t=' + encodeURIComponent(text);
  		  $('#calc_url').attr('href', url).text(url);
  		  $('#calc_img').attr('src', url);
  	    }
  	    
  		$('#bgcolor').colorpicker().on('changeColor', function(ev){
  		  var size = $('#size').val();
  		  var bgcolor = ev.color.toHex().substring(1);
  		  var txtcolor = $('#txtcolor').val().substring(1);
  		  var text = $('#text').val();
  		  var format = $('#format').val();
  		  updateCalc(size, bgcolor, txtcolor, text, format);
  		});
  		$('#txtcolor').colorpicker().on('changeColor', function(ev){
  		  var size = $('#size').val();
  		  var bgcolor = $('#bgcolor').val().substring(1);
  		  var txtcolor = ev.color.toHex().substring(1);
  		  var text = $('#text').val();
  		  var format = $('#format').val();
  		  updateCalc(size, bgcolor, txtcolor, text, format);
  		});
  		$('#size,#text,#format').change(function(){
  		  var size = $('#size').val();
  		  var bgcolor = $('#bgcolor').val().substring(1);
  		  var txtcolor = $('#txtcolor').val().substring(1);
  		  var text = $('#text').val();
  		  var format = $('#format').val();
  		  updateCalc(size, bgcolor, txtcolor, text, format);
  		});
  	})(jQuery);
    </script>
{% endblock %}
